:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.form-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-inline: 1rem;
	padding-block: 2rem;
	background: #5c5c5c;
	border-radius: 0.75rem;
	min-width: 25ch;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.form-card h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-block-end: 1.5rem;
}

.form-card label {
	display: block;
	font-size: 0.9rem;
	margin-block-end: 0.25rem;
  justify-content: none;
  text-align:left;
}

.form-card input {
	width: calc(100% - 1rem);
	padding: 0.5rem;
	border: none;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius:20px;
  height:30px;
}

.btn-glass:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}

/* Target all paragraphs inside the TipTap editor */
.ProseMirror p {
  height: 60vh;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 0 0 1em 0;
  padding: 4px;
  text-align: left;
}
